* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
}

.screen{
    border: 5px solid black;
}

.letters {
    background-color: forestgreen;
    padding-top: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointnew {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

.tela {
    border-top: 5px solid #000;
    color: forestgreen;
}